* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --curly-fonts: 'Playfair Display', serif;
    --normal-fonts: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
    align-items: center;
}

header {
    padding: 0 1.5rem;
}

header > div {
    height: 100vh;
}

h1 {
    font-weight: 400;
    line-height: 1;
    font-size: 15vw;
    font-family: var(--curly-fonts);
}

main {
    padding: 0 1.5rem;
}

#about p {
    font-family: var(--normal-fonts);
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 1.7;
    color: #ccc;
}
