* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-style: normal;
}

.flex {
    display: flex;
    align-items: center;
}

header {
    padding: 0 1.5rem;
}

header > div {
    height: 100vh;
}

h1 {
    font-weight: 400;
    line-height: 1;
    font-size: 3.5rem;
}
